//////////////////Variables/////////////////////////
$red: #ff6f8e;
$yellow: #f5f0b3;
$green: #85cfcc;
$shadow: 2px 2px 15px 2px rgb(88, 87, 87);
$t-shadow: 2px 2px 3px rgba(88, 87, 87, 0.637);

/////////////////Font///////////////////////////////
@font-face {
  font-family: "Patrick Hand SC";
  src: loval("Patrick Hand SC"), url("../../font/PatrickHandSC-Regular.ttf");
}

html,
body {
  font-family: "Patrick Hand SC", cursive;
  height: 100%;
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}
.box {
  padding-bottom: 10px;
  overflow: hidden;
  min-height: 100%;
  background-image: radial-gradient(circle closest-corner at 40% 10%, $red, $yellow, $green);
}
h1 {
  margin: 10px 0;
}
section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pulse {
  display: inline-block;
  &:hover {
    animation: title-bomb 1s infinite;
  }
}
@keyframes title-bomb {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.container {
  width: 45%;
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
}
.description,
.options {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc6e;
  margin: 1vw auto;
  box-shadow: $shadow;
  transition: all 0.5s;
}

h1,
h3,
.flags,
#result,
.rights {
  text-shadow: $t-shadow;
}

.valid,
.checked,
.bomb {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
}
.valid {
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.valid.checked:hover {
  background-color: #cecab70e;
  border-color: #ffffff8a;
}
.checked {
  border: 2px solid;
  background-color: #cecab70e;
  border-color: #ffffff8a;
}
.valid,
.bomb {
  transition: all 0.5s;
  &:hover {
    background-color: #a5e9e77c;
    border-color: #bab7a9 #f5f3eb #fff9db #bab7a9;
  }
}

.bomb {
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.one {
  color: $red;
}

.two {
  color: #4199d3;
}

.three {
  color: #5eac5e;
}

.four {
  color: #bb41d3;
}
.five {
  color: darkblue;
}
.restart {
  visibility: hidden;
  margin: 10px auto;
  font-size: 1em;
  font-family: "Patrick Hand SC", cursive;
  background-image: linear-gradient($yellow, $green);
  width: 160px;
  height: 45px;
  border: 1px solid rgba(214, 214, 214, 0.774);
  border-radius: 10px;
  text-shadow: $t-shadow;
  box-shadow: $shadow;
  &:hover {
    box-shadow: 1px 1px 3px 1px rgb(88, 87, 87);
  }
}

#result {
  display: inline-block;
  margin: 5px auto;
  color: $red;
  font-size: 1.7em;
}
@keyframes result {
  0% {
    transform: translateY(-400px) scale(1);
  }
  50% {
    transform: translateY(-400px) scale(4);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  margin: 0;
  height: 7vw;
  background-image: linear-gradient($green 1px, $yellow);
  box-shadow: $shadow;
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
}
.rights,
.author,
.contacts {
  width: 33.33%;
  display: flex;
  justify-content: center;
  margin: auto 15px;
}
.icon {
  display: inline-block;
  margin: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .description,
  .options {
    width: 100%;
  }
  footer {
    height: auto;
  flex-direction: column;}
  .rights,
.author,
.contacts {
  width: 100%;
margin: 10px;}
}
